#--- Python ---
__pycache__/
*.py[cod]
*.so
*.pyd

# --- Build ---
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl

# --- uv ---
.uv/
.uv_cache/
.venv/
uv.lock
.python-version

# --- IDE ---
.vscode/
.idea/
*.swp

# --- other ---
*.session
main.py
test.py